body {
  background: #f0f8ff;
}

header {
  background: black;
  height: 55px;
  width: 100%;
  border-bottom: 30px solid #cadee6;
  margin-bottom: 80px;
}

table {
  display: block;
  position: relative;
  width: 1000px;
  margin: 20px;
}

tr, td, th {
  padding: 0.5rem;
  text-align: center;
  min-width: 150px;
  background: #ffffff;
  border-bottom: 1px solid #d6d6d6;
}

#daysWeek th{
  border-top: 1px solid #d6d6d6;
}
.firstCell {
  border-left: 1px solid #d6d6d6;
}

.lastCell {
  border-right: 1px solid #d6d6d6;
}

.campaign {
  background-color: #e0e0e0;
  border: 1px solid #d6d6d6;
  text-align: left;
}

.campaign h2 {
  font-weight: bold;
  font-size: 2em;
}

.side_projects {
  background: #5d8aa8;
  border: 1px solid #d6d6d6;
  color: #e0e0e0;
}

.side_projects a {
  color: #ffffff;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

.focus {
  font-weight: bold;
}

.systems_check {
  background: #f5f5f5;
  border: 1px solid #d6d6d6;
  border-top: none;
}

a { color: steelblue;}
a:hover { color: black;}

.form {
  border: 1px solid grey;
  background: white;
  border-radius: 5%;
  padding: 10px;
  margin: 10px;
  width: 260px;
}

.form-input-wrapper {
  text-align: center;
  margin: 1em;
}

.all-forms {
  margin: 10px auto;
  width: 300px;
}

.all-forms h3 {
  text-align: left;
  margin-left: 15px;
}
