<body>
<header>
  <img src="/assets/LAlogo.png" class="blockCenter">
</header>
  <table cellspacing="0" class="blockCenter" id="daysWeek">
    <tr>
      <th class="firstCell">Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th class="lastCell">Extra Work</th>
    </tr>
  </table>
  <!--Alpha-->
  <table cellspacing="0" class="blockCenter">
    <tr><td colspan="6" class="campaign">
      <ul><li><h2>Alpha</h2></li>
      <li>Aug 11 - Aug 22</li></ul>
    </td></tr>
    <tr>
      <td class="firstCell"><ul>
          <li class="focus">Intro to Ruby</li>
          <li><a href="https://gist.github.com/carojane/e245d734506d2b943a9f">Cash Register 1</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">More Ruby</li>
          <li><a href="https://gist.github.com/5ccb290d3040e883d838">Cash Register 2</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">Arrays</li>
          <li class="focus">CSV Files</li>
          <li>Hamlet</li>
          <li>Baby Names</li>
      </ul></td>
      <td><ul>
          <li class="focus">Data Structures</li>
          <li><a href="https://gist.github.com/0668213b6a1f0bd28002">Cash Register 3</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">Ruby Review</li>
          <li>Hangman</li>
      </ul></td>
      <td class="lastCell"><ul>
          <li>Ruby Koans</li>
          <li><a href="https://github.com/carojane/password">Passwords</a></li>
      </ul></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check"><ul>
          <li>List Statistics</li>
          <li><a href="http://carojane.github.io/blog/2014/08/17/one-week-closer/">Blog Post</a></li>
      </ul></td>
    </tr>
    <tr>
      <td class="firstCell"><ul>
          <li class="focus">HTML & CSS</li>
          <li>In Theaters</li>
          <li>Shmoogle</li>
          <li><a href="https://gist.github.com/a088d0a487125fcdb136">SlackerNews</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">HTTP & Sinatra</li>
          <li><a href="https://github.com/carojane/kickball_site">Kickball</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">More Sinatra</li>
          <li><a href="https://github.com/carojane/movie_list">Movie Index</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">Forms and<br>Parameters</li>
          <li><a href="https://github.com/carojane/slacker_news">SlackerNews 2</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">Git Remote</li>
          <li>Short URL</li>
          <li><a href="http://slacker-news-carojane.herokuapp.com/">SlackerNews<br>Deploy</a></li>
      </ul></td>
      <td class="lastCell"><ul>
          <li><a href="https://github.com/carojane/jsEulerProject">JavaScript Euler</a></li>
      </ul></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check"><ul>
          <li>Game Time</li>
          <li><a href="http://carojane.github.io/blog/2014/08/23/practical-magic/">Blog Post</a></li>
      </ul></td>
    </tr>
  </table>
  <!--Bravo-->
  <table cellspacing ="0" class="blockCenter">
    <tr><td colspan="6" class="campaign">
      <ul><li><h2>Bravo</h2></li>

      <li>Aug 25 - Sept 5</li></ul>
    </td></tr>
      <td class="firstCell"><ul>
          <li class="focus">SQL and Postgresql</li>
          <li><a href="https://gist.github.com/0364d90a073fed694a92">SQL Practice</a></li>
          <li>Recipes</li>
      </ul></td>
      <td><ul>
          <li class="focus">SQL with Ruby</li>
          <li><a href="https://github.com/carojane/moviedb_site">Movies DB</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">More SQL</li>
          <li><a href="https://github.com/carojane/slacker_news">SlackerNews SQL</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">Review SQL</li>
      </ul></td>
      <td><ul>
          <li class="focus">Intro to OOP</li>
          <li>Minesweep</li>
      </ul></td>
      <td class="lastCell"><ul>
          <li><a href="https://github.com/carojane/fibonacci-sequence">Fibonacci</a></li>
      </ul></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check"><ul>
          <li>Recipe Box</li>
          <li><a href="http://carojane.github.io/blog/2014/08/29/i-have-confidence-in-me/">Blog Post</a></li>
      </ul></td>
    </tr>
    <tr>
      <td class="firstCell"><b>LABOR DAY</b></td>
      <td><ul>
        <li class="focus">OOD</li>
        <li><a href="https://github.com/carojane/workout">Workout<a></li>
      </ul></td>
      <td><ul>
        <li class="focus">Classes</li>
        <li><a href="https://github.com/carojane/blackjack">Blackjack</a></li>
      </ul></td>
      <td><ul>
        <li class="focus">Class Methods</li>
        <li><a href="https://github.com/carojane/bank_account">Bank Accounts</a></li>
      </ul></td>
      <td><ul>
        <li class="focus">Test Driven<br>Development</li>
        <li><a href="https://github.com/carojane/lunar_kitchen">Lunar Kitchen</a></li>
      </ul></td>
      <td class="lastCell"><ul>
          <li>Ruby Comets</li>
      </ul></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check"><ul>
          <li>Bounding Areas</li>
          <li><a href="http://carojane.github.io/blog/2014/09/06/overheated/">Blog Post</a></li>
      </ul></td>
    </tr>
  </table>
  <!--Charlie-->
  <table cellspacing ="0" class="blockCenter">
    <tr>
      <td colspan="6" class="campaign"><ul>
        <li><h2>Charlie</h2></li>
        <li>Sept 8 - Sept 19</li>
      </ul></td>
    </tr>
    <tr>
      <td class="firstCell"><ul>
          <li class="focus">ActiveRecord</li>
          <li><a href="https://github.com/carojane/contact_manager">Contact Manager</a></li>
      </ul></td>
      <td><ul>
          <li class="focus">Normalization</li>
          <li>Brainstorming<br>Projects</li>
      </ul></td>
      <td><ul>
          <li class="focus">Migrations</li>
      </ul></td>
      <td></td>
      <td><b>E4E Conference</b></td>
      <td class="lastCell"><ul>
        <li>Launch Calendar</li>
      </ul></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check"><ul>
          <li></li>
          <li>Blog Post</li>
      </ul></td>
    </tr>
    <tr>
      <td class="firstCell"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lastCell"></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check">
        <ul>
          <li></li>
          <li>Blog Post</li>
        </ul>
      </td>
    </tr>
  </table>
  <!--Delta-->
  <table cellspacing ="0" class="blockCenter">
    <tr><ul>
      <td colspan="6" class="campaign"><ul>
      <li><h2>Delta</h2></li>
      <li>Sept 22 - Oct 3</li></td>
    </ul></tr>
    <tr>
      <td class="firstCell"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lastCell"></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check">
        <ul>
          <li></li>
          <li>Blog Post</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="firstCell"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lastCell"></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check">
        <ul>
          <li></li>
          <li>Blog Post</li>
        </ul>
      </td>
    </tr>
  </table>
  <!--Echo-->
  <table cellspacing ="0" class="blockCenter">
    <tr>
      <td colspan="6" class="campaign"><ul>
        <li><h2>Echo</h2></li>
        <li>Oct 6 - Oct 17</li>
      </ul></td>
    </tr>
    <tr>
      <td class="firstCell"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lastCell"></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check">
        <ul>
          <li></li>
          <li>Blog Post</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="firstCell"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lastCell"></td>
    </tr>
    <tr>
      <td colspan="6" class="systems_check">
        <ul>
          <li></li>
          <li>Blog Post</li>
        </ul>
      </td>
    </tr>
  </table>
</body>
